*.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/buffer.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/crypto.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/fs.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/http2.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/inspector.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/ts4.8/buffer.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/ts4.8/crypto.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/ts4.8/fs.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/ts4.8/http2.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/ts4.8/inspector.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/LICENSES.chromium.html filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/chrome_100_percent.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/chrome_200_percent.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/d3dcompiler_47.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/electron.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/ffmpeg.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/icudtl.dat filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/libEGL.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/libGLESv2.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/af.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/am.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ar.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/bg.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/bn.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ca.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/cs.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/da.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/de.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/el.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/en-GB.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/en-US.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/es-419.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/es.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/et.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/fa.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/fi.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/fil.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/fr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/gu.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/he.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/hi.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/hr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/hu.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/id.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/it.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ja.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/kn.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ko.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/lt.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/lv.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ml.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/mr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ms.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/nb.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/nl.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/pl.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/pt-BR.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/pt-PT.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ro.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ru.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sk.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sl.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sv.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sw.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ta.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/te.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/th.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/tr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/uk.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ur.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/vi.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/zh-CN.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/zh-TW.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/resources.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/resources/default_app.asar filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/snapshot_blob.bin filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/v8_context_snapshot.bin filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/vk_swiftshader.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/vulkan-1.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/electron.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/sumchecker/yarn.lock filter=lfs diff=lfs merge=lfs -text
